api-v2-n10-jurangjero-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8080
}

api-v2-n10-blanciran-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8081
}

api-v2-n10-brangkal-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8082
}

api-v2-n10-gempol-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8083
}

api-v2-n10-gledeg-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8084
}

api-v2-n10-jambeyan-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8085
}

api-v2-n10-kadirejo-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8086
}

api-v2-n10-karangan-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8087
}

api-v2-n10-karanganom-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8088
}

api-v2-n10-kunden-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8089
}

api-v2-n10-ngabeyan-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8090
}

api-v2-n10-padas-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8091
}

api-v2-n10-pondok-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8092
}

api-v2-n10-tarubasan-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8093
}

api-v2-n10-troso-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8094
}

api-v2-n10-soropaten-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8095
}

api-v2-n10-jeblok-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8096
}

api-v2-n10-jungkare-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8097
}

api-v2-n10-beku-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8098
}

api-v2-n10-demo-desapintar.klatenkab.go.id {
   handle_path /media* {
      root * /home/informa/media
      header Access-Control-Allow-Origin "*"
      file_server
   }
   reverse_proxy 127.0.0.1:8099
}