{% extends 'layanan/base.html' %}

{% block content %}
			<div>
				<br>
				<center>
					<h3><u>SURAT KETERANGAN</u></h3>
					<p>{{surat.no_surat}}
				</center>

				<br>
				<table style="width:100%;">
					<tr>
						<td colspan=3>
						Yang bertanda tangan di bawah ini Kepala Desa Pontolo Kecamatan Kwandang Menerangkan kepada :
						</td>
					</tr>
					<tr class="data-row">
						<td>Nama</td>
						<td>:</td>
						<td>{{surat.penduduk.nama}}</td>
					</tr>
					<tr class="data-row">
						<td>NIK</td>
						<td>:</td>
						<td>{{surat.penduduk.nik}}</td>
					</tr>
					<tr class="data-row">
						<td>Jenis Kelamin</td>
						<td>:</td>
						<td>{{surat.penduduk.jk}}</td>
					</tr>
					<tr class="data-row">
						<td>Status Perkawinan</td>
						<td>:</td>
						<td>{{surat.penduduk.tgl_lahir}}</td>
					</tr>
					<tr class="data-row">
						<td>Alamat</td>
						<td>:</td>
						<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
					</tr>
				</table>
				<p>Bahwa yang bersangkutan diatas adalah benar - benar penduduk Desa Pontolo Kecamatan Kwandang dan yang bersangkutan telah menikah dengan {{surat.atribut['menikah_dengan']}} pada tanggal {{surat.atribut['tgl_menikah']}}.</p>
				<p>Surat Keterangan ini dibuat berhubung Buku Nikah yang bersangkutan diatas benar - benar telah hilang karena {{surat.atribut['alasan_hilang']}}</p>
				<p>Demikian surat keterangan ini dibuat guna untuk perlunya.</p>

				<table style="margin-top:40px;width:100%;">
					<tr>
						<td style="text-align:center;">
							&nbsp;
						</td>
						<td style="width:40%">
							&nbsp;
						</td>
						<td style="text-align: center;">
							{{desa.nama_desa.title()}}, {{tanggal}}
						</td>
					</tr>
					<tr>
						<td style="text-align:center;">
						</td>
						<td style="width:40%">
							&nbsp;
						</td>
						<td style="text-align: center;">
							{{surat.pegawai.jabatan.title()}} {{desa.nama_desa.title()}}
							<p style="margin-top:80px;">
							<b><u>{{surat.pegawai.nama}}</u></b>
							</p>
						</td>
					</tr>
				</table>
			</div>

{% endblock %}
