
{% extends 'layanan/base.html' %}

{% block content %}
			<div>
				<br>
				<table>
					<tr>
						<td width="40px">Nomor</td>
						<td>:</td>
						<td>{{surat.no_surat}}</td>
						<td width="200px">&nbsp;</td>
						<td>Kepada Yth.</td>
					</tr>
					<tr>
						<td>Sifat</td>
						<td>:</td>
						<td>Biasa</td>
						<td>&nbsp;</td>
						<td>Bapak Kapolsek {{desa.kecamatan.nama_kecamatan.title()}}</td>
					</tr>
					<tr>
						<td>Lampiran</td>
						<td>:</td>
						<td>-</td>
						<td>&nbsp;</td>
						<td>Di.-</td>
					</tr>
					<tr>
						<td>Pokok</td>
						<td>:</td>
						<td><b><u>PERMOHONAN IZIN</u></b></td>
						<td>&nbsp;</td>
						<td style="text-align:center;">{{desa.kecamatan.nama_kecamatan.title()}}</td>
					</tr>
				</table>

				<br>
				<table style="width:100%;">
					<tr>
						<td colspan=3>
							<p>Dengan Hormat</p>
							<p>Yang bertanda tangan di bawah ini Kepala Desa Pontolo:</p>
						</td>
					</tr>
					<tr class="data-row">
						<td style="width:200px;">Kepala Desa</td>
						<td style="width:5px;">:</td>
						<td>{{desa.nama_desa.title()}}</td>
					</tr>
					<tr class="data-row">
						<td>Kecamatan</td>
						<td>:</td>
						<td>{{desa.kecamatan.nama_kecamatan.title()}}</td>
					</tr>
					<tr class="data-row">
						<td>Kabupaten</td>
						<td>:</td>
						<td>{{desa.kecamatan.kab_kota.nama_kab_kota.title()}}</td>
					</tr>
					<tr>
						<td colspan=3>
							Sehubungan dengan Permohonan dari:
						</td>
					</tr>
					<tr class="data-row">
						<td>Nama</td>
						<td>:</td>
						<td>{{surat.penduduk.nama}}</td>
					</tr>
					<tr class="data-row">
						<td>Umur</td>
						<td>:</td>
						<td>{{surat.penduduk.age}}</td>
					</tr>
					<tr class="data-row">
						<td>Pekerjaan</td>
						<td>:</td>
						<td>{{surat.penduduk.pekerjaan}}</td>
					</tr>
					<tr class="data-row">
						<td>Alamat</td>
						<td>:</td>
						<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
					</tr>
			</table>
			<br>
			{% set tanggal_acara = surat.serialized_atribut['tanggal_pesta'] %}
			<p>
			Untuk Pelaksanaan Acara {{surat.atribut.jenis_pesta}}, maka kami mohon bantuan Bapak Kapolsek Kwandang dapat memberikan izin keramaian acara dimaksud dengan ketentuan waktu dan tempat sebagai berikut :
			</p>
			<table>
				<tr>
					<td width="100px">Hari/Tgl</td>
					<td width="5px">:</td>
					<td>{{tanggal_acara.strftime('%A, %d %B %Y')}}</td>
				</tr>
				<tr>
					<td>Waktu</td>
					<td>:</td>
					<td>{{surat.atribut.waktu_mulai}}</td>
				</tr>
				<tr>
					<td>Tempat</td>
					<td>:</td>
					<td>{{surat.atribut.tempat}}</td>
				</tr>
			</table>
			<p>
      Demikian Surat Permohonan ini disamppaikan dan atasnya diucapkan terima kasih.

			</p>

	<table style="margin-top:40px;width:100%;">
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{desa.nama_desa.title()}}, {{tanggal}}
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%;">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{surat.pegawai.jabatan.title()}} {{desa.nama_desa.title()}}
				<p style="margin-top:80px;">
				<b><u>{{surat.pegawai.nama}}</u></b>
				</p>
			</td>
		</tr>
	</table>
			</div>

{% endblock %}
