{% extends 'layanan/base.html' %}

{% block content %}
<div>
	<br>
	<center>
		<h3><u>SURAT KELAHIRAN</u></h3>
		<p>{{surat.no_surat}}</p>
	</center>

	<br>
	{% set tanggal_surat = datetime.strptime(surat.serialized_atribut['kelahiran'].tanggal_kelahiran, '%Y-%m-%d')%}
	<table style="width:100%;">
		<tr>
			<td colspan=3>
				Yang bertanda tangan dibawah ini Kepala Desa {{desa.nama_desa.title()}}, Kec. {{desa.kecamatan.nama_kecamatan.title()}}, {{desa.kecamatan.kab_kota.nama_kab_kota.title()}} menerangkan bahwa pada :
			</td>
		</tr>
		<tr class="data-row">
			<td>Hari</td>
			<td>:</td>
			<td>{{tanggal_surat.strftime('%A')}}</td>
		</tr>
		<tr class="data-row">
			<td>Tanggal</td>
			<td>:</td>
			<td>
				{{tanggal_surat.strftime('%d %B %Y')}}
			</td>
		</tr>
		<tr class="data-row">
			<td>Di</td>
			<td>:</td>
			<td>{{desa.nama_desa}}</td>
		</tr>
	</table>
	<p>Telah lahir seorang Anak Pria/Wanita bernama:</p>
	<center><h5><b><u>{{surat.serialized_atribut['kelahiran'].nama}}</u></b></h5></center>
	<p>Dari seorang Ibu bernama:</p>
	<center><h5>{{surat.serialized_atribut['kelahiran'].nama_ibu}}</h5></center>
	<p>Istri dari:</p>
	<center><h5>{{surat.serialized_atribut['kelahiran'].nama_ayah}}</h5></center>

	<p>
	Demikianlah surat keterangan ini dibuat atas dasar sebenarnya.
	</p>

	<table style="margin-top:40px;width:100%;">
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{desa.nama_desa.title()}}, {{tanggal}}
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%;">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{surat.pegawai.jabatan.title()}} {{desa.nama_desa.title()}}
				<p style="margin-top:80px;">
				<b><u>{{surat.pegawai.nama}}</u></b>
				</p>
			</td>
		</tr>
	</table>
</div>
{% endblock %}
