{% extends 'layanan/base.html' %}

{% block content %}
			<div>
				<br>
				<center>
					<h3><u>SURAT KETERANGAN</u></h3>
					<p>{{surat.no_surat}}
				</center>

				<br>
				<table style="width:100%;">
					<tr>
						<td colspan=3>
						Yang bertanda tangan di bawah ini:
						</td>
					</tr>
					<tr class="data-row">
						<td style="width:400px;">Nama</td>
						<td style="width:5px;">:</td>
						<td>{{surat.pegawai.nama}}</td>
					</tr>
					<tr class="data-row">
						<td style="width:400px;">Jabatan</td>
						<td style="width:10px;">:</td>
						<td>{{surat.pegawai.jabatan}}</td>
					</tr>
					<tr>
						<td colspan=3>
							Dengan ini menerangkan bahwa:
						</td>
					</tr>
					<tr class="data-row">
						<td>Nama</td>
						<td>:</td>
						<td>{{surat.penduduk.nama}}</td>
					</tr>
					<tr class="data-row">
						<td>NIK</td>
						<td>:</td>
						<td>{{surat.penduduk.nik}}</td>
					</tr>
					<tr class="data-row">
						<td>Tempat, Tanggal Lahir</td>
						<td>:</td>
						<td>{{surat.penduduk.tempat_lahir}}, {{surat.penduduk.tanggal_lahir}}</td>
					</tr>
					<tr class="data-row">
						<td>Pekerjaan</td>
						<td>:</td>
						<td>{{surat.penduduk.pekerjaan}}</td>
					</tr>
					<tr class="data-row">
						<td>Alamat</td>
						<td>:</td>
						<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
					</tr>
				</table>
				<p>
				Bahwa yang bersangkutan diatas benar-benar Penduduk Desa {{desa.nama_desa.title()}} Kec.{{desa.kecamatan.nama_kecamatan.title()}} {{desa.kecamatan.kab_kota.nama_kab_kota.title()}}  dan Benar-benar telah berpisah dengan {% if surat.penduduk.jk == 'Perempuan'%} suaminya {% else %} istrinya {% endif %} atas nama ( {{surat.atribut['nama_pasangan']}} ). Namun masih dalam Proses Perceraian di {{surat.atribut['nama_instansi_pengadilan']}}.
				</p>
				<p>Demikian Surat keterangan Ini dibuat untuk dipergunakan dalam {{surat.atribut['keperluan']}}</p>

				<table style="margin-top:40px;width:100%;">
					<tr>
						<td style="text-align:center;">
							&nbsp;
						</td>
						<td style="width:40%">
							&nbsp;
						</td>
						<td style="text-align: center;">
							{{desa.nama_desa.title()}}, {{tanggal}}
						</td>
					</tr>
					<tr>
						<td style="text-align:center;">
							Pemohon
							<p style="margin-top:80px;">
							<b><u>{{surat.penduduk.nama}}</u></b>
							</p>
						</td>
						<td style="width:40%">
							&nbsp;
						</td>
						<td style="text-align: center;">
							{{surat.pegawai.jabatan.title()}} {{desa.nama_desa.title()}}
							<p style="margin-top:80px;">
							<b><u>{{surat.pegawai.nama}}</u></b>
							</p>
						</td>
					</tr>
				</table>
			</div>

{% endblock %}
