{% extends 'layanan/base_no_header.html' %}

{% block content %}
<div>
	<center><h2><u>SURAT KETERANGAN</u></h2></center>
	<br>
	<br>
	<br>

	<table style="width:100%;">
		<tr>
			<td colspan=3>
				Yang bertanda tangan dibawah ini:
			</td>
		</tr>
		<tr class="data-row">
			<td>Nama</td>
			<td>:</td>
			<td>{{surat.penduduk.nama}}</td>
		</tr>
		<tr class="data-row">
			<td>Tempat / Tanggal Lahir</td>
			<td>:</td>
			<td>{{surat.penduduk.tempat_lahir}},
				{{surat.penduduk.tgl_lahir}}</td>
		</tr>
		<tr class="data-row">
			<td>Jenis Kelamin</td>
			<td>:</td>
			<td>{{surat.penduduk.jk}}</td>
		</tr>
		<tr class="data-row">
			<td>Pekerjaan</td>
			<td>:</td>
			<td>{{surat.penduduk.pekerjaan}}</td>
		</tr>
		<tr class="data-row">
			<td>Alamat</td>
			<td>:</td>
			<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
		</tr>
	</table>
	<p>Menerangkan dengan sebenar-benarnya bahwa atas nama  {{surat.atribut['nama_subject']}} memang benar {{surat.atribut['keterangan']}}.</p>
	<p>Demikian surat keterangan ini untuk digunakan seperlunya.</p>

	<table style="margin-top:40px;width:100%;">
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%;height:250px;">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{desa.nama_desa.title()}}, {{tanggal}}
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%;">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{surat.penduduk.nama}}
			</td>
		</tr>
	</table>
</div>
{% endblock %}
