<html>
	<head>
		<style>
			@media print {
				.new-page {
					page-break-before: always;
				}
			}
			#container {
				width: 85%;
				margin: auto;
			}
			header{
				margin-top: 30px;
			}
			h1, h2, h3, p{
				margin-top: 0px;
				margin-bottom: 5px;
			}
			hr {
					border: none;
					height: 5px;
					/* Set the hr color */
					color: #000; /* old IE */
					background-color: #000; /* Modern Browsers */
			}
			.justify{
				text-align: justify;
			}
			table{
				border-collapse: separate;
				border-spacing: 0 0.5em;
			}
			.data-row td:first-child {
				padding-left: 35px;	
			}
			#logo{
				float:left;
			}
			#logo img{
				width:150px;
				height: 120px;
			}
			#bordered {
				border: 1px solid black;
				border-collapse: collapse;
				width: 80%;
			}
			#bordered th{
				border: 1px solid black;
				border-collapse: collapse;
			}
			#bordered td{
				border: 1px solid black;
				border-collapse: collapse;
			}
		</style>
	</head>
	<body>

		<!-- Keterangan Usaha -->
		<div style="width:80%;margin:auto;">
			<header>
				<div id="logo">
					<img style="height:125px;width:150;" src="{{media_root}}/{{desa.logo}}"></img>
				</div>
				<div style="width:800px;height:125;">
					<center>
						<h3>PEMERINTAH {{desa.kecamatan.kab_kota.nama_kab_kota.upper()}}</h3>
						<h3>KECAMATAN {{desa.kecamatan.nama_kecamatan.upper()}}</h3>
						<h2>DESA {{desa.nama_desa.upper()}}</h2>
						<p>Alamat: {{desa.alamat}}</p>
						<p>Telp: {{desa.no_telp}}</p>
					</center>
				</div>
			</header>
			<hr>
			<div>
				<br>
				<center>
					<h3><u>SURAT KETERANGAN USAHA</u></h3>
					<p>{{surat.no_surat}}
				</center>

				<br>
				<p>Yang bertanda tangan di bawah ini:</p>
				<table style="width:100%;">
					<tr class="data-row">
						<td style="width:400px;">Kepala Desa</td>
						<td style="width:5px;">:</td>
						<td>{{desa.nama_desa.title()}}</td>
					</tr>
					<tr class="data-row">
						<td style="width:400px;">Kecamatan</td>
						<td style="width:10px;">:</td>
						<td>{{desa.kecamatan.nama_kecamatan.title()}}</td>
					</tr>
					<tr class="data-row">
						<td style="width:400px;">Kabupaten</td>
						<td style="width:10px;">:</td>
						<td>{{desa.kecamatan.kab_kota.nama_kab_kota.title()}}</td>
					</tr>
				</table>
				<br>

				<p>Memberikan keterangan kepada:</p>
				<table>
					<tr class="data-row">
						<td>Nama</td>
						<td>:</td>
						<td>{{surat.penduduk.nama}}</td>
					</tr>
					<tr class="data-row">
						<td>Umur</td>
						<td>:</td>
						<td>{{surat.penduduk.age}}</td>
					</tr>
					<tr class="data-row">
						<td>Pekerjaan</td>
						<td>:</td>
						<td>{{surat.penduduk.pekerjaan}}</td>
					</tr>
					<tr class="data-row">
						<td>Alamat</td>
						<td>:</td>
						<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
					</tr>
				</table>
				<br>

				<p>
				Bahwa yang bersangkutan tersebut diatas Benar-benar Penduduk Desa {{desa.nama_desa.title()}} Kec. {{desa.kecamatan.nama_kecamatan.title()}} {{desa.kecamatan.kab_kota.nama_kab_kota.title()}} dan Benar-benar Memiliki Usaha berupa .
				</p>
				<p><b>{{surat.atribut['nama_usaha'].upper()}}</b></p>
				<p>Yang berlokasi di Desa {{desa.nama_desa.title()}} Kec. {{desa.kecamatan.nama_kecamatan.title()}} {{desa.kecamatan.kab_kota.nama_kab_kota.title()}}.</p>
				<br>
				<p>Demikian Surat keterangan ini dibuat dengan mengingat Sumpah Jabatan dan dapat dipergunakan sebagaiman mestinya.</p>

				<table style="margin-top:40px;width:100%;">
					<tr>
						<td>
							&nbsp;
						</td>
						<td style="width:40%">
							&nbsp;
						</td>
						<td style="text-align: center;">
							{{desa.nama_desa.title()}}, {{tanggal}}
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
						<td style="width:40%;">
							&nbsp;
						</td>
						<td style="text-align: center;">
							MENGETAHUI
							{{surat.pegawai.jabatan.title()}} {{desa.nama_desa.title()}}
							<p style="margin-top:80px;">
							<b><u>{{surat.pegawai.nama}}</u></b>
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Keterangan -->
		<div class="new-page" style="width:80%;margin:auto;">
			<br>
			<header>
				<div id="logo">
					<img style="height:125px;width:150;" src="{{media_root}}/{{desa.logo}}"></img>
				</div>
				<div style="width:800px;height:125;">
					<center>
						<h3>PEMERINTAH {{desa.kecamatan.kab_kota.nama_kab_kota.upper()}}</h3>
						<h3>KECAMATAN {{desa.kecamatan.nama_kecamatan.upper()}}</h3>
						<h2>DESA {{desa.nama_desa.upper()}}</h2>
						<p>Alamat: {{desa.alamat}}</p>
						<p>Telp: {{desa.no_telp}}</p>
					</center>
				</div>
			</header>
			<hr>
			<div>
				<br>
				<center>
					<h3><u>SURAT KETERANGAN</u></h3>
					<p>{{surat.no_surat}}</p>
				</center>

				<br>
				<table style="width:100%;">
					<tr>
						<td colspan=3>
						Yang bertanda tangan di bawah ini:
						</td>
					</tr>
					<tr class="data-row">
						<td style="width:400px;">Nama</td>
						<td style="width:5px;">:</td>
						<td>{{surat.pegawai.nama}}</td>
					</tr>
					<tr class="data-row">
						<td style="width:400px;">Jabatan</td>
						<td style="width:10px;">:</td>
						<td>{{surat.pegawai.jabatan}}</td>
					</tr>
					<tr>
						<td colspan=3>
							Dengan ini menerangkan bahwa:
						</td>
					</tr>
					<tr class="data-row">
						<td>Nama</td>
						<td>:</td>
						<td>{{surat.penduduk.nama}}</td>
					</tr>
					<tr class="data-row">
						<td>Tempat / Tanggal Lahir</td>
						<td>:</td>
						<td>{{surat.penduduk.tempat_lahir}},
							{{surat.penduduk.tgl_lahir}}</td>
					</tr>
					<tr class="data-row">
						<td>Jenis Kelamin</td>
						<td>:</td>
						<td>{{surat.penduduk.jk}}</td>
					</tr>
					<tr class="data-row">
						<td>Umur</td>
						<td>:</td>
						<td>{{surat.penduduk.age}}</td>
					</tr>
					<tr class="data-row">
						<td>Pekerjaan</td>
						<td>:</td>
						<td>{{surat.penduduk.pekerjaan}}</td>
					</tr>
					<tr class="data-row">
						<td>Alamat</td>
						<td>:</td>
						<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
					</tr>
				</table>
				<p>
				Bahwa oknum tersebut benar-benar penduduk desa {{desa.nama_desa.title()}} Kecamatan {{desa.kecamatan.nama_kecamatan}} 
				dan berkelakuan baik serta belum pernah tersangkut perkara dan selalu melaksanakan kewajiban pada Pemerintah maupun Pihak lain.
				</p>
				<p>
				Sehubungan dengan usahanya diatas, maka dengan ini yang bersangkutan kami berikan kesempatan untuk meningkatkan usahanya dan yang bersangkutan 
				dapat mempergunakan surat keteranagn ini untuk memperoleh kredit dari {{surat.atribut['unit_bri']}} dan kami senantiasa akan memberikan pembinaan dan pengawasan oknum tersebut sampai kreditnya dibayar lunas tepat pada waktunya.
				</p>
				<p>Demikian surat keterangan ini dibuat dengan sesungguhnya mengingat sumpah jabatan.</p>

				<table style="margin-top:40px;width:100%;">
					<tr>
						<td style="text-align:center;">
							&nbsp;
						</td>
						<td style="width:40%">
							&nbsp;
						</td>
						<td style="text-align: center;">
							{{desa.nama_desa.title()}}, {{tanggal}}
						</td>
					</tr>
					<tr>
						<td style="text-align:center;">
							&nbsp;
						</td>
						<td style="width:40%">
							&nbsp;
						</td>
						<td style="text-align: center;">
							MENGETAHUI
							{{surat.pegawai.jabatan.title()}} {{desa.nama_desa.title()}}
							<p style="margin-top:80px;">
							<b><u>{{surat.pegawai.nama}}</u></b>
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Permohonan -->
		<div class="new-page" style="width:80%;margin:auto;">
			<br>
			<table style="width:100%;">
				<tr>
					<td width="30%"><b>HAL &nbsp;&nbsp;:PERMOHONAN</b></td>
					<td width="20%">&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>
						KEPADA YTH:<br>
						Bapak/Ibu Kepala {{surat.atribut['unit_bri']}}<br>
						Di.-<br>
						<center>{{surat.atribut['lokasi_bri']}}</center>
					</td>
				</tr>
			</table>

			<p>Dengan Hormat,</p>
			<p>Yang bertanda tangan di bawah ini:</p>
			<table>
				<tr class="data-row">
					<td>Nama</td>
					<td>:</td>
					<td>{{surat.penduduk.nama}}</td>
				</tr>
				<tr class="data-row">
					<td>Nama Ibu Kandung</td>
					<td>:</td>
					<td>{{surat.atribut['ibu_kandung']}}</td>
				</tr>
				<tr class="data-row">
					<td>Tempat, Tanggal Lahir</td>
					<td>:</td>
					<td>{{surat.penduduk.tempat_lahir}}, {{surat.penduduk.tanggal_lahir}}</td>
				</tr>
				<tr class="data-row">
					<td>Pekerjaan</td>
					<td>:</td>
					<td>{{surat.penduduk.pekerjaan}}</td>
				</tr>
				<tr class="data-row">
					<td>Alamat</td>
					<td>:</td>
					<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
				</tr>
				<tr class="data-row">
					<td>No HP</td>
					<td>:</td>
					<td>{{surat.penduduk.no_hp}}</td>
				</tr>
			</table>
			<p>
			Dengan ini mengajukan permohonan kiranya kami dapat disetujui untuk beroleh bantuan kredit 
			sebesar  Rp. {{'{0:,}'.format(surat.atribut['bantuan_angka']).replace(',', '.')}} ( {{surat.atribut['bantuan_kalimat'].title()}} ) 
			Jangka Waktu  {{surat.atribut['jangka_waktu']}} Bulan. Kredit KUR tersebut akan kami pergunakan untuk
			</p>
			<p><b>{{surat.atribut['nama_usaha'].upper()}}</u></b></p>
			<br>
			<p>Untuk bahan pertimbangan Bapak/Ibu bersama ini kami lampirkan:</p>
			<ul>
				{% for item in surat.atribut['daftar_lampiran'] %}
				<li>{{item}}</li>
				{% endfor %}
			</ul>
			<br>

			<p>Demikian permohonan ini dan atas perkenaan dan kebijaksanaan Bapak/Ibu kami sampaikan terima kasih.</p>
			<br><br>

			<table>
				<tr>
					<td width="70%">&nbsp;</td>
					<td>
						<center><b>Yang bermohon</center>
						<br><br><br>
						<b><u>{{surat.penduduk.nama}}</u></b>
					</td>
				</tr>
			</table>
		</div>

		<!-- Surat Kuasa -->
		{% if surat.atribut.get('surat_kuasa') %}
		<div class="new-page" style="width:80%;margin:auto;">
			<br>
			<center><h2><u>SURAT KUASA</u></h1></center>
			<br><br>

			<p>Yang bertanda tangan di bawah ini:</p>
			<table style="width:100%">
				<tr class="data-row">
					<td width="400px">Nama</td>
					<td width="5px">:</td>
					<td>{{surat.atribut['surat_kuasa']['nama']}}</td>
				</tr>
				<tr class="data-row">
					<td width="400px">Umur</td>
					<td width="5px">:</td>
					<td>{{surat.atribut['surat_kuasa']['umur']}}</td>
				</tr>
				<tr class="data-row">
					<td width="400px">Pekerjaan</td>
					<td width="5px">:</td>
					<td>{{surat.atribut['surat_kuasa']['pekerjaan']}}</td>
				</tr>
				<tr class="data-row">
					<td width="400px">Alamat</td>
					<td width="5px">:</td>
					<td>{{surat.atribut['surat_kuasa']['alamat']}}</td>
				</tr>
				<tr class="data-row">
					<td colspan=3>
						Untuk selanjutnya disebut PEMBERI KUASA ( PIHAK I )
					</td>
				</tr>
			</table>
			<br>

			<p>Menerangkan dengan ini dalam kedudukan/jabatan MEMBERI KUASA Kepada :</p>
			<table style="width:100%">
				<tr class="data-row">
					<td width="400px">Nama</td>
					<td width="5px">:</td>
					<td>{{surat.penduduk.nama}}</td>
				</tr>
				<tr class="data-row">
					<td width="400px">Umur</td>
					<td width="5px">:</td>
					<td>{{surat.penduduk.age}}</td>
				</tr>
				<tr class="data-row">
					<td width="400px">Pekerjaan</td>
					<td width="5px">:</td>
					<td>{{surat.penduduk.pekerjaan}}</td>
				</tr>
				<tr class="data-row">
					<td width="400px">Alamat</td>
					<td width="5px">:</td>
					<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
				</tr>
				<tr class="data-row">
					<td colspan=3>
						Untuk selanjutnya disebut PENERIMA KUASA ( PIHAK II )
					</td>
				</tr>
			</table>
			<br>

			<p>Menyatakan dengan benar dan sungguh-sungguh bahwa :</p>
			<ol>
				<li>Kami tidak keberatan dan setuju {{surat.atribut['surat_kuasa']['objek_jaminan']}}  untuk dipakai sebagai jaminan Kredit atas nama {{surat.penduduk.nama}} di {{surat.atribut['unit_bri']}}.</li>
				<li>Kami bersedia tunduk kepada syarat-syarat umum perjanjian pinjaman dan kredit PT.BANK RAKYAT INDONESIA (PERSERO) tbk yang telah disetujui oleh YANG BERHUTANG, untuk pelunasan pinjaman.</li>
				<li>SHM/SKPHM sebagai tsb pada butir 1 diatas adalah benar tidak dalam sengketa atau dipersengkatakan dengan/oleh pihak manapun.</li>
				<li>Surat Kuasa ini tidak dapat dibatalkan oleh sebab manapun juga, kecuali dengan lunasnya kredit ysng dipinjamkan.</li>
			</ol>
			<br>

			<p>Dengan surat kuasa ini dibuat dalam keadaan sadar tanpa paksaan maupun terkenan dari pihak manapun juga.</p>
			<br><br>

			<table style="width:100%" id="bordered">
				<tr>
					<td colspan=2 style="text-align:center;">
						{{desa.nama_desa.title()}}, {{tanggal}}
					</td>
				</tr>
				<tr>
					<td>
						<center>
							PEMBERI KUASA
							<br><br><br><br><br><br>
							{{surat.atribut['surat_kuasa']['nama']}}
						</center>
					</td>
					<td>
						<center>
							PENERIMA KUASA
							<br><br><br><br><br><br>
							{{surat.penduduk.nama}}
						</center>
					</td>
				</tr>
				<tr>
					<td colspan=2 style="text-align:center;">
						MENGETAHUI
						KEPALA DESA {{desa.nama_desa}}
						<br><br><br><br><br><br>
						<b><u>{{surat.pegawai.nama.upper()}}</u></b>
					</td>
				</tr>
			</table>
		</div>
		{% endif %}

	</body>
</html>
