{% extends 'layanan/base.html' %}

{% block content %}
<div>
	<br>
	<center>
		<h3><u>SURAT KETERANGAN HAK MILIK</u></h3>
		<p>{{surat.no_surat}}</p>
	</center>

	<br>
	<table style="width:100%;">
		<tr>
			<td colspan=3>
				Yang bertanda tangan dibawah ini Kepala Desa {{desa.nama_desa.title()}}, Kec. {{desa.kecamatan.nama_kecamatan.title()}}, {{desa.kecamatan.kab_kota.nama_kab_kota.title()}} menerangkan kepada :
			</td>
		</tr>
		<tr class="data-row">
			<td>Nama</td>
			<td>:</td>
			<td>{{surat.penduduk.nama}}</td>
		</tr>
		<tr class="data-row">
			<td>Umur</td>
			<td>:</td>
			<td>{{surat.penduduk.age}}</td>
		</tr>
		<tr class="data-row">
			<td>Pekerjaan</td>
			<td>:</td>
			<td>{{surat.penduduk.pekerjaan}}</td>
		</tr>
		<tr class="data-row">
			<td>Alamat</td>
			<td>:</td>
			<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
		</tr>
	</table>
	<p>
	Bahwa yang bersangkutan tersebut diatas benar-benar memiliki Tanah Seluas  ± {{ "{0:,}".format(surat.atribut['luas_tanah_angka']).replace(',', '.') }} M2 ({{surat.atribut['luas_tanah_kalimat']}}) .Tanah tersebut  terletak di :

	</p>
	<table width="100%">
		<tr class="data-row">
			<td width="300px">Propinsi</td>
			<td>:</td>
			<td>{{desa.kecamatan.kab_kota.provinsi.nama_provinsi.title()}}</td>
		</tr>
		<tr class="data-row">
			<td>Kabupaten</td>
			<td>:</td>
			<td>{{desa.kecamatan.kab_kota.nama_kab_kota.title()}}</td>
		</tr>
		<tr class="data-row">
			<td>Kecamatan</td>
			<td>:</td>
			<td>{{desa.kecamatan.nama_kecamatan.title()}}</td>
		</tr>
		<tr class="data-row">
			<td>Desa</td>
			<td>:</td>
			<td>{{desa.nama_desa.title()}}</td>
		</tr>
		<tr class="data-row">
			<td>Dusun</td>
			<td>:</td>
			<td>{{surat.serialized_atribut['dusun']['nama'].title()}}</td>
		</tr>
	</table>
	<p>Dengan batas-batas sebagai berikut:</p>
	<table width="100%">
		<tr class="data-row">
			<td width="300px">Utara</td>
			<td>:</td>
			<td>{{surat.atribut['batas_utara']}}</td>
		</tr>
		<tr class="data-row">
			<td>Timur</td>
			<td>:</td>
			<td>{{surat.atribut['batas_timur']}}</td>
		</tr>
		<tr class="data-row">
			<td>Selatan</td>
			<td>:</td>
			<td>{{surat.atribut['batas_selatan']}}</td>
		</tr>
		<tr class="data-row">
			<td>Barat</td>
			<td>:</td>
			<td>{{surat.atribut['batas_barat']}}</td>
		</tr>
	</table>
	<p>
	Demikian Surat Keterangan ini dibuat dengan sebenarnya dan kepada yang berwenang kiranya dapat memaklumi sepenuhnya.
	</p>

	<table style="margin-top:40px;width:100%;">
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{desa.nama_desa.title()}}, {{tanggal}}
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%;">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{surat.pegawai.jabatan.title()}} {{desa.nama_desa.title()}}
				<p style="margin-top:80px;">
				<b><u>{{surat.pegawai.nama}}</u></b>
				</p>
			</td>
		</tr>
	</table>
	<center><u><b>SAKSI-SAKSI:</b></u></center>
	<table>
		<tr>
			<td width="15px">1.</td>
			<td width="150px">{{surat.atribut['nama_saksi1']}}</td>
			<td width="40px">&nbsp;</td>
			<td><pre>(                               )</pre></td>
		</tr>
		<tr>
			<td>2.</td>
			<td>{{surat.atribut['nama_saksi2']}}</td>
			<td>&nbsp;</td>
			<td><pre>(                               )</pre></td>
		</tr>
		<tr>
			<td>3.</td>
			<td>{{surat.atribut['nama_saksi3']}}</td>
			<td>&nbsp;</td>
			<td><pre>(                               )</pre></td>
		</tr>
	</table>
</div>
{% endblock %}
