{% extends 'layanan/base_no_header.html' %}

{% block content %}

<center><b><u>SURAT KETERANGAN AHLI WARIS</u></b></center>
<br>
<br>
<p class"justify-text">
Kami yang bertanda tangan dibawah ini adalah ahli waris dari Almarhum {{surat.serialized_atribut['kematian']['penduduk']['nama'].upper()}},
menerangkan dengan sesungguhnya dan sanggup diangkat sumpah dihadapan saksi-saksi  yang akan disebutkan pada akhir surat keterangan ini, bahwa Almarhum {{surat.serialized_atribut['kematian']['penduduk']['nama'].upper()}}.
Meninggal di Desa {{desa.nama_desa.title()}} Kec.{{desa.kecamatan.nama_kecamatan.title()}},{{desa.kecamatan.kab_kota.nama_kab_kota.title()}} pada tanggal {{surat.serialized_atribut['kematian']['tanggal_kematian']}}.
Bahwa Almarhum {{surat.serialized_atribut['kematian']['penduduk']['nama'].upper()}} menikah dengan {{surat.atribut['pasangan']['nama'].upper()}}, umur, {{surat.atribut['pasangan']['umur']}} Tahun, bertempat tinggal di {{surat.atribut['pasangan']['alamat']}}
<!-- {% if  surat.atribut['pasangan'].get('tanggal_meninggal') %}
yang juga telah meinggal pada {{surat.atribut['pasangan']['tanggal_meninggal']}}
{% else %} -->
 
<!-- {% endif %} -->
telah dikaruniai {{surat.serialized_atribut['jumlah_ahliwaris']}}  orang anak yakni :
</p>
<br>

<table width="100%">
	<tr>
		<td width="30px">
			&nbsp;
		</td>
		<td>
			{% for item in surat.atribut['ahli_waris'] %}
			<p>{{loop.index}}. {{item['nama'].title()}}, umur {{item['umur']}} tahun, berprofesi {{item['pekerjaan']}},  alamat {{item['alamat']}}.</p>
			<br>
			{% endfor %}
		</td>
	</tr>
</table>

<p>
Surat Keterangan Waris ini dibuat di hadapan Kepala Desa {{desa.nama_desa.title()}} dan dikuatkan oleh Camat {{desa.kecamatan.nama_kecamatan.title()}} serta disaksikan oleh:
</p>

<table width="100%">
	<tr>
		<td width="30px">
			&nbsp;
		</td>
		<td>
		{% for item in surat.atribut['saksi'] %}
		<p>{{loop.index}}. <b>{{item['nama']}}</b>, umur {{item['umur']}}, pekerjaan {{item['pekerjaan']}}, alamat {{item['alamat']}}</p>
		<br>
		{% endfor %}
		</td>
	</tr>
</table>

<p>
Demikian surat keterangan ahli waris ini kami buat untuk di gunakan sebagaimana mestinya dan Apabila dikemudian hari ternyata keterangan ini tidak benar ,maka kami bersedia dituntut dimuka pengadilan sesuai ketentuan perundang-undangan yang berlaku menyangkut keterangan palsu untuk sesuatu permohonan resmi.
</p>

<table style="margin-top:40px;width:100%;">
	<tr>
		<td>
			&nbsp;
		</td>
		<td width="30px">
			&nbsp;
		</td>
		<td>
			{{desa.kecamatan.kab_kota.provinsi.nama_provinsi.title()}}, {{tanggal}}
		</td>
	</tr>
	<tr>
		<td>
			<center>Saksi-Saksi</center>
			<br>
			<table width="100%">
				{% for item in surat.atribut['saksi'] %}
				<tr>
					<td>{{ loop.index }}.</td>
					<td>{{ item['nama'] }}</td>
					<td><pre>(				)</pre></td>
				</tr>
				<tr>
					<td colspan="3"></td>
				</tr>
				<tr>
					<td colspan="3"></td>
				</tr>
				{% endfor %}
			</table>
		</td>
		<td width="80px">&nbsp;</td>
		<td>
			<center>Ahli Waris</center>
			<br>
			<table width="100%">
				{% for item in surat.atribut['ahli_waris'] %}
				<tr>
					<td>{{ loop.index }}.</td>
					<td>{{ item['nama'] }}</td>
					<td><pre>(				)</pre></td>
				</tr>
				<tr>
					<td colspan="3"></td>
				</tr>
				<tr>
					<td colspan="3"></td>
				</tr>
				{% endfor %}
			</table>
		</td>
	</tr>
</table>

<br>
<center>DIKUATKAN DAN DIBENARKAN OLEH</center>
<br>

<table width="100%">
	<tr>
		<td width="100px">Reg. Nomor:</td>
		<td width="300px">&nbsp;</td>
		<td>Reg. Nomor: {{surat.no_surat}}</td>
	</tr>
	<tr>
		<td>Tanggal:</td>
		<td>&nbsp;</td>
		<td>Tanggal: {{tanggal}}</td>
	</tr>
	<tr>
		<td><center>{{surat.pegawai.jabatan.title()}}</center></td>
		<td>&nbsp;</td>
		<td><center>CAMAT {{desa.kecamatan.nama_kecamatan.title()}}</center></td>
	</tr>
	<tr>
		<td height="50px">
		</td>
	</tr>
	<tr>
		<td><center>{{surat.pegawai.nama}}</center></td>
		<td>&nbsp;</td>
		<td><center>{{desa.kecamatan.nama_camat}}</center></td>
	</tr>
</table>


{% endblock %}
