{% extends 'layanan/base.html' %}

{% block content %}
			<div>
				<br>
				<center>
					<h3><u>SURAT KETERANGAN USAHA</u></h3>
					<p>{{surat.no_surat}}
				</center>

				<br>
				<table style="width:100%;">
					<tr>
						<td colspan=3>
						Yang bertanda tangan di bawah ini Kepala Desa Pontolo:
						</td>
					</tr>
					<tr class="data-row">
						<td style="width:400px;">Kepala Desa</td>
						<td style="width:5px;">:</td>
						<td>{{desa.nama_desa.title()}}</td>
					</tr>
					<tr class="data-row">
						<td style="width:400px;">Kecamatan</td>
						<td style="width:10px;">:</td>
						<td>{{desa.kecamatan.nama_kecamatan.title()}}</td>
					</tr>
					<tr class="data-row">
						<td style="width:400px;">Kabupaten</td>
						<td style="width:10px;">:</td>
						<td>{{desa.kecamatan.kab_kota.nama_kab_kota.title()}}</td>
					</tr>
					<tr>
						<td colspan=3>
							Dengan ini menerangkan bahwa:
						</td>
					</tr>
					<tr class="data-row">
						<td>Nama</td>
						<td>:</td>
						<td>{{surat.penduduk.nama}}</td>
					</tr>
					<tr class="data-row">
						<td>NIK</td>
						<td>:</td>
						<td>{{surat.penduduk.nik}}</td>
					</tr>
					<tr class="data-row">
						<td>Jenis Kelamin</td>
						<td>:</td>
						<td>{{surat.penduduk.jk}}</td>
					</tr>
					<tr class="data-row">
						<td>Pekerjaan</td>
						<td>:</td>
						<td>{{surat.penduduk.pekerjaan}}</td>
					</tr>
					<tr class="data-row">
						<td>Agama</td>
						<td>:</td>
						<td>{{surat.penduduk.agama}}</td>
					</tr>
					<tr class="data-row">
						<td>Alamat</td>
						<td>:</td>
						<td>{{surat.penduduk.keluarga.alamat_lengkap}}</td>
					</tr>
			</table>
			<br>

				<p>
				Bahwa yang bersangkutan tersebut diatas Benar-benar Penduduk Desa Pontolo Kec.Kwandang Kab.Gorontalo Utara dan Benar-benar Memiliki Usaha <b>{{surat.atribut['nama_usaha'].upper()}}</b>.
</p>
				<p>Demikian surat keterangan ini dibuat dengan sebenarnya dan untuk dipergunakan sebagaimana semestinya.</p>

	<table style="margin-top:40px;width:100%;">
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{desa.nama_desa.title()}}, {{tanggal}}
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td style="width:40%;">
				&nbsp;
			</td>
			<td style="text-align: center;">
				{{surat.pegawai.jabatan.title()}} {{desa.nama_desa.title()}}
				<p style="margin-top:80px;">
				<b><u>{{surat.pegawai.nama}}</u></b>
				</p>
			</td>
		</tr>
	</table>
			</div>

{% endblock %}
